<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">/-->
    <title>Shaposhnikov Alex</title>
    <link href="https://bootstrapdocs.com/v3.2.0/docs/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrapdocs.com/v3.2.0/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <style>
        div.youtube iframe {width:100%;margin: 20px 0;}
    </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
        <h3 class="text-muted">Shap Alex <span style="font-size:9px;colr:#ccc;">personal website</span></h3>
      </div>

      <div class="jumbotron">
        <h1>Whats is this?</h1>
        <p class="lead">Since 2009, this has been my laptop repair site. Starting from 09/10/2023, I will try to change my activities. And here will be everything that I find interesting for you.</p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>/-->
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>For beginners in IT</h4>
          <p>Ffff</p>

          <h4><a href="/blog/">My blog</a></h4>
          <p>There is a lot of interesting information on various topics</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Telegram bot</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Django</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>SEO</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

        <div class="youtube">
            <h2>My old videos:</h2>
            <iframe height="315" src="https://www.youtube.com/embed/gT0wfiJN1aM?si=FRvD11cWefn1iRZy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </br>
            <iframe height="315" src="https://www.youtube.com/embed/-ntEhCokwT0?si=GDYykv2rdFrVrG8K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </br>
            <iframe height="315" src="https://www.youtube.com/embed/joGpHZnZO_Q?si=p9tKtpLUNFbqBbHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </br>

      <div class="footer">
        <div>
            <p>Telegram: <a href="https://t.me/Shliambur">@Shliambur</a></p>
            <p>YouTube: <a href="https://www.youtube.com/@onermaster">@onermaster</a></p>
            <p>Git: <a href="https://github.com/shliamb">@shliamb</a></p>
            <p>Freelance: <a href="https://freelance.habr.com/freelancers/first_remont">first_remont</a></p>
            <p>linkedin: <a href="https://www.linkedin.com/in/alexander-shaposhnikov/">alexander-shaposhnikov</a></p>
            <p>instagram:<a href="https://www.instagram.com/1rmaster/">@1rmaster</a></p>
        </div>
        </br>
        <p>website since 2009</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>